#image {
  background-image: url('../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/Entete/bg_QryptoBank.jpg');
}

#create_button {
    border-radius: 50px;
    text-transform: capitalize;
    box-shadow: 10px 5px 5px #357fca;
}

img:hover{
    font-size: 100px;
}
