<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/AssetsNFTmaQer/Assets_des_sections_pareille/footer/Layer 2.svg" class="m-3" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <nav class="nav flex-column">
                <a class="nav-link active" href="#">QryptoBank - Defistaking</a>
                <a class="nav-link" href="#">NFTmaqer</a>
                <a class="nav-link" href="#">Qryptex</a>
                <a class="nav-link" href="#">Qredit</a>
                <a class="nav-link" href="#">ListMyAirdrop</a>
                <a class="nav-link" href="#">Qlubdeal</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content.
                This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border-success mb-3 border-0" style="max-width: 18rem;">
        <div class="card-header bg-transparent border-success">Header</div>
        <div class="card-body text-success">
          <h5 class="card-title">Success card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
        <div class="card-footer bg-transparent border-success">Footer</div>
      </div>
    </div>
  </div>
</div>
