<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../assets/AssetsNFTmaQer/Assets_des_sections_pareille/footer/Layer 2.svg" class="m-3" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">PROJECTS</h5>
              <nav class="nav flex-column">
                <a class="nav-link active" href="#">QryptoBank - Defistaking</a>
                <a class="nav-link" href="#">NFTmaqer</a>
                <a class="nav-link" href="#">Qryptex</a>
                <a class="nav-link" href="#">Qredit</a>
                <a class="nav-link" href="#">ListMyAirdrop</a>
                <a class="nav-link" href="#">Qlubdeal</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">ASSETS</h5>
                <nav class="nav flex-column">
                  <a class="nav-link active" href="#">Trending</a>
                  <a class="nav-link" href="#">Stakeable</a>
                  <a class="nav-link" href="#">Assets</a>
                  <a class="nav-link">Supported cons</a>
                </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card mb-3 border-0" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">

          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">COMPANY</h5>
              <nav class="nav flex-column">
                <a class="nav-link active" href="#">Tean - Advisors</a>
                <a class="nav-link" href="#">Academy - Crypto Expert</a>
                <a class="nav-link" href="#">Inversions circle</a>
                <a class="nav-link" href="#">Become an Ambassador</a>
                <a class="nav-link" href="#">Points & QRB</a>
                <a class="nav-link" href="#">Terme & Conditions</a>
                <a class="nav-link" href="#">RoadMap</a>
                <a class="nav-link" href="#">Contact us</a>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">About</h5>
            <p class="card-text">
                CrytoBankAG <br> Koin Germany <br> Regulated by the Fedéral Financial supervisory Authority ()
            </p>
            <a href="#" id="read" class="card-link btn btn-outline-primary">Read our whitePaper</a>
          </div>
        </div>
    </div>
  </div>
</div>
