<div class="container mt-5">
  <div class="row">
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/deploy.svg" class="mb-3" width="150px" alt="...">

           <p> <span class="badge badge-primary badge-pill">1</span> Deploy your collection with NFTmaQer tools for free</p>

    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/community.svg" class="mb-3" width="150px" alt="...">
         <p> <span class="badge badge-primary badge-pill">2</span> Create community</p>
    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/boost.png" class="mb-3" width="150px" alt="...">
         <p> <span class="badge badge-primary badge-pill">3</span> Enable everyone to boost your sales with NFT AirDrop</p>
    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/receive royalties.png" class="mb-3" width="150px"  alt="...">
         <p> <span class="badge badge-primary badge-pill">4</span> Receive your revenues and royalties directly on your Qryptobank card</p>
    </div>
  </div>
</div>
