<div class="container mt-5">
  <div class="row">
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/deploy.svg" class="mb-3" width="150px" alt="...">
          <span>
              <ol>
                  <li>
                      <p>Deploy your collection with NFTmaQer tools for free</p>
                  </li>
              </ol>
          </span>
    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/community.svg" class="mb-3" width="150px" alt="...">
        <span>
            <ol>
              <li>
                  <p>Deploy your collection with NFTmaQer tools for free</p>
              </li>
            </ol>
        </span>
    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/boost.png" class="mb-3" width="150px" alt="...">
        <span>
          <ol>
            <li>
                <p>Deploy your collection with NFTmaQer tools for free</p>
            </li>
          </ol>
        </span>
    </div>
    <div class="col-3">
        <img src="../assets/AssetsNFTmaQer/images/receive royalties.png" class="mb-3" width="150px"  alt="...">
        <span>
            <ol>
                <li>
                    <p>Deploy your collection with NFTmaQer tools for free</p>
                </li>
            </ol>
        </span>
    </div>
  </div>
</div>
