<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div>
        <h4>Trusted Companis</h4>
        <nav class="nav">
          <a class="nav-link active" href="#">
            <img src="../assets/AssetsNFTmaQer/new/rarible.png" width="120px" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/fnd.svg" width="120px" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/openSea.png" width="120px" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/new/kyhclu5quebqm4sit0he.svg" width="" alt="">
          </a>
        </nav>
    </div>

        <h4>Trusted Companis</h4>
        <nav class="nav">
          <a class="nav-link active" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled">Disabled</a>
        </nav>
  </div>
</div>
