<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div>
        <h4 class="text-muted">Trusted Companis</h4>
        <nav class="nav">
          <a class="nav-link active" href="#">
            <img src="../assets/AssetsNFTmaQer/new/rarible.png" width="120px" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/fnd.svg" width="120px" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/openSea.png" width="120px" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/new/kyhclu5quebqm4sit0he.svg" width="" alt="">
          </a>
        </nav>
    </div>
    <div>
        <h4 class="text-muted">They talk about us worldwide</h4>
        <nav class="nav">
          <a class="nav-link active" href="#">
            <img src="../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/theyTalkAbout_logos/challenges.svg" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/entreprendre.png" width="120px" alt="">
          </a>
          <a class="nav-link" href="#">
            <img src="../../assets/AssetsNFTmaQer/new/financial_times.png" width="120px" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/new/medecine_directe.png" width="150px" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/theyTalkAbout_logos/forbes.svg" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/theyTalkAbout_logos/reuters.svg" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/theyTalkAbout_logos/zone_bourse.svg" alt="">
          </a>
          <a class="nav-link">
            <img src="../../assets/AssetsNFTmaQer/Assets_des_sections_pareille/theyTalkAbout_logos/usa_today.svg" alt="">
          </a>
        </nav>
    </div>
  </div>
</div>
