<div class="container">
  <div class="row">
    <div class="col col-lg-6 col-md-5 pr-3">
      <div class="card border-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Track All Your Digital Assets from a Single DeFi Dashboard</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
          <a href="#" class="btn btn-outline-primary text-center">Create your passive income for free</a>
        </div>
      </div>
    </div>
    <div class="col col-lg-6 col-md-7">
      <img src="../assets/AssetsNFTmaQer/Assets_des_sections_pareille/Dashboard/Group 77.jpg" alt="">
    </div>
  </div>
</div>
